.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    padding-bottom: 30px;
}

.footer a:hover {
    color: #17a2b8;
    text-shadow: 0 0 10px #17a2b8;
}

.footer small {
    font-size: 0.9em;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
