body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3; /* Asegúrate de que el z-index sea mayor que el del thead */
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .sidenav a {
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1rem;
    color: #d4d4d4;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border-bottom: 1px solid #4b4b4b;

    user-select: none;
  }
  
  .sidenav a i {
    margin-right: 10px;
  }
  
  .sidenav a:hover {
    color: #ffffff;
    background-color: #007bff; /* Cambia el fondo al pasar el mouse */
  }
  
  .dropdown-container {
    display: none;
    background-color: #495057;
    padding-left: 15px;
  }
  
  .dropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dropdown-btn i.fa-caret-down {
    margin-left: auto; /* Alinea el ícono a la derecha del texto */
  }
  
  .dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #575757; /* Cambia el fondo al pasar el mouse */
  }
  
  .menu-btn {
    background-color: #343a40;
    color: white;
    padding: 4px 20px;
    font-size: 1rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;

    height: 2rem;
    width: 17%;
    
    z-index: 4; /* Asegúrate de que el z-index sea mayor que el del thead */
    user-select: none;
  }
  
  .menu-bg {
    background-color: #343a40;
    height: 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .section-name {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    position: absolute;
    color: white;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
  }
  
  .search-bar {
    z-index: 1;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  