/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5rem; /* Ajusta este valor según la altura de tu menú */
}

.main-content {
    flex: 1;
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 1rem; /* Añade padding para mejor visualización en móvil */
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer a:hover {
    color: #17a2b8;
    text-shadow: 0 0 10px #17a2b8;
}

.footer small {
    font-size: 0.9em;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Otros estilos */
body {
    font-size: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: 1rem;
}

.modal-title {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fade-in {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-control {
    transition: all 0.3s ease-in-out;
}

.card {
    position: relative;
    padding: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.1); /* 8px to 0.5rem */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.delete-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}

.contacts-icon {
    position: absolute;
    top: 1rem;
    right: 4rem;
    color: rgb(17, 97, 253);
    cursor: pointer;
    font-size: 1.5rem;
}

.card h5 {
    overflow-wrap: break-word;
    white-space: normal;
    max-width: calc(100% - 4rem); /* Ajusta el ancho máximo para evitar que invada el espacio de los iconos */
}

/* Estilos para la scrollbar vertical */
::-webkit-scrollbar {
    width: 0px;
}

.btn-primary-custom {
    background-color: rgb(253, 97, 17);
    border-radius: 0.5em;
    border-color: white;
    transition: background-color 0.3s ease;
    color: white;
}

.btn-primary-custom:hover {
    background-color: rgb(197, 51, 9);
    border-color: white;
    color: white;
}

.btn-primary-custom:active {
    background-color: rgb(126, 36, 16);
}

.card-cliente {
    border-left: 5px solid #007bff; /* Azul para Cliente */
    padding-left: 10px;
}

.card-proveedor {
    border-left: 5px solid #a72828; /* Rojo para Proveedor */
    padding-left: 10px;
}

.tipo-entidad {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff; /* Azul para Cliente */
}

.card-proveedor .tipo-entidad {
    color: #a72828; /* Rojo para Proveedor */
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 450px) {
    .content-wrapper {
        padding-top: 3rem; /* Ajuste según el tamaño del menú en móvil */
    }

    .main-content {
        padding: 0.5rem; /* Reduce el padding en móvil */
    }

    .btn {
        font-size: 1.2rem; /* Tamaño de fuente más pequeño en móvil */
    }

    .card {
        padding: 1rem; /* Reduce el padding en las tarjetas */
        font-size: 0.9rem; /* Reduce el tamaño de fuente en las tarjetas */
    }

    .delete-icon, .contacts-icon {
        font-size: 1.2rem; /* Reduce el tamaño de los íconos */
    }

    .btn-primary-custom {
        font-size: 1rem; /* Reduce el tamaño de los botones */
    }

    .footer {
        padding: 10px 0; /* Reduce el padding del footer */
    }
}
