body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: 0.3s;
    user-select: none;
}

.sidenav a i {
    margin-right: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #575757; /* Cambia el fondo al pasar el mouse */
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-btn i.fa-caret-down {
    margin-left: auto; /* Alinea el ícono a la derecha del texto */
}

.dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #575757; /* Cambia el fondo al pasar el mouse */
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    position: fixed;
    width: 15%;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 2;
    user-select: none;
}

.menu-bg {
    height: 4rem;
    width: 100%;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.search-bar {
    z-index: 1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
